* {
  font-family: 'Iosevka Nerd Font';
  font-size: 16px;
  border: none;
  border-radius: 0;
}

window#waybar {
  background: transparent;
  color: #c6d0f5;
}

#network,
#disk,
#memory,
#custom-gpu-usage,
#custom-gpu-temperature,
#cpu,
#temperature.cpu,
#clock,
#tray,
#pulseaudio,
#network.2,
#keyboard-state,
#custom-wlogout {
  padding-top: 3px;
  padding-bottom: 3px;
  transition: none;
  background: #1e1e2e;
}

#network {
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 10px 0px 0px 10px;
}

#disk {
  padding-left: 14px;
  padding-right: 14px;
}

#memory {
  padding-left: 14px;
  padding-right: 14px;
}

#custom-gpu-usage {
  padding-left: 14px;
  padding-right: 4px;
}

#custom-gpu-temperature {
  padding-left: 4px;
  padding-right: 14px;
}

#cpu {
  padding-left: 14px;
  padding-right: 4px;
}

#temperature.cpu {
  padding-left: 4px;
  padding-right: 14px;
  border-radius: 0px 10px 10px 0px;
}

#clock {
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 10px;
}

#tray {
  margin-right: 8px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 10px;
}

#pulseaudio {
  margin-right: 8px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 10px;
}

#network.2 {
  margin-right: 8px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 10px;
}

#keyboard-state {
  margin-right: 8px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 10px;
}

#custom-wlogout {
  padding-left: 14px;
  padding-right: 16px;
  border-radius: 10px;
}