* {
  transition: 200ms ease-out;
  color: #cdd6f4;
  font-family: 'Iosevka Aile';
  font-size: 1.1rem;
}

#window,
#match,
#entry,
#plugin,
#main {
  background: transparent;
}

#match:selected {
  background: rgba(203, 166, 247, 0.8);
}

#match {
  padding: 3px;
  border-radius: 16px;
}

#entry {
  border-radius: 16px;
}

box#main {
  background: rgba(30, 30, 46, 0.8);
  border: 1px solid #28283d;
  border-radius: 24px;
  padding: 8px;
}

row:first-child {
  margin-top: 6px;
}